/* login.css */

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Container Styles */
.self-study-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* Video Background Styles */
.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Content Container Styles */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Timer Styles */
.timer {
  font-size: 2em;
  margin: 20px 0;
  color: #c9afea;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Button Styles */
.controls button,
.customization-controls button {
  font-size: 1em;
  margin: 10px;
  padding: 15px 20px;
  cursor: pointer;
  border: none;
  border-radius: 50px; /* Updated to a circular shape */
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  outline: none;
  display: inline-block;
}

/* Primary Button Styles */
.controls button,
.customization-controls button {
  background-color: #778DA9; /* Updated button color */
  color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Button Hover Styles */
.controls button:hover,
.customization-controls button:hover {
  background-color: #0d0d0d; /* Darker color on hover */
  transform: scale(1.1);
}

/* Heading Styles */
.self-study-container h1 {
  color: #eae8e8;
  font-size: 2.5em; /* Larger font size for the heading */
  margin-bottom: 20px; /* Increased margin for better spacing */
}
